<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Attendance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo_atten"
        tools:targetApi="31">
        <activity
            android:name=".StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".Splash_screen"
            android:exported="true"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View_Attendance"
            android:exported="false" />
        <activity
            android:name=".Take_attendance"
            android:exported="false" />
        <activity
            android:name=".Add_student"
            android:exported="false" />
        <activity
            android:name=".Add_class"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Faculty_login"
            android:exported="false" />
        <activity
            android:name=".Student_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity android:name="List_Of_Students"/>
        <activity android:name=".StudentViewAttendance"></activity>

    </application>

</manifest>